title !{site_name} ‣ !{current}
meta(name="description" content=site_description)
meta(name='viewport' content='height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui')
meta(name='robots' content='archive,follow,imageindex,index,odp,snippet,translate')
meta(http-equiv='Cache-Control' content='public,max-age=1800,max-stale,stale-while-revalidate=86400,stale-if-error=259200' rem='max-age=60minutes')
meta(http-equiv='Feature-Policy' content='')
meta(http-equiv='x-dns-prefetch-control' content='on')
meta(name='fragment' content='!')
meta(name='target' content='all')
meta(name='audience' content='all')
meta(name='coverage' content='Worldwide')
meta(name='distribution' content='Global')
meta(name='rating' content='safe for kids')
meta(name='format-detection' content='telephone=no,date=no,address=no,email=no,url=no')
meta(name='SKYPE_TOOLBAR' content='SKYPE_TOOLBAR_PARSER_COMPATIBLE')
meta(name='mssmarttagspreventparsing' content='true')
meta(http-equiv='imagetoolbar' content='no')
meta(name='HandheldFriendly' content='True')
meta(name='MSThemeCompatible' content='no')
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-status-bar-style' content='translucent black')
meta(name='msapplication-navbutton-color' content='translucent black')
meta(name='mssmarttagspreventparsing' content='true')
meta(http-equiv='Page-Enter' content='RevealTrans(Duration=1.0,Transition=1)')
meta(http-equiv='Page-Exit' content='RevealTrans(Duration=1.0,Transition=1)')